*{
    --main_color: #07071E;
    --bg_color: #FCF7F1;
}

.content_wrapper{
    padding: 6em 11em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}
.content_wrapper .title{
    text-transform: uppercase; 
    color: var(--main_color);
    font-size: 50px;
}
.content_wrapper .card{
    background-color: var(--main_color);

    border-radius: 15px;
    height: 250px;
    width: 300px;
}


