*{
    --main_color: #07071E;
    --bg_color: #FCF7F1;
}


/*Envelope du contenu de la page*/
.content_wrapper{
    padding: 10em 15em;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content_wrapper .title{
    text-transform: uppercase; 
    color: var(--main_color);
    font-size: 70px;
}
.content_wrapper .title .t1{
    margin-bottom: 0.6em;
}
.content_wrapper .title .t2{
    margin-bottom: 0.6em;
    font-size: 18px;
}






/*Cart d'animation films*/
.card_wrapper{
    overflow: hidden;
    background-color: var(--main_color);
    border-radius: 15px;

    display: flex;
    align-items: center;

    height: 550px;
    width: 400px;

    transition: transform 200ms ease 0.2s;
}
.card_wrapper .slideout{
    position: absolute;
    background-image: url('../imgs/img_3.png');
    background-size: cover;

    opacity: 100%;
    height: inherit;width: inherit;
    margin-left: 3em;

    transition: margin-left 300ms ease-in-out 0s;
}
.card_wrapper .hovertext{
    position: absolute;
    text-align: center;
    color: var(--bg_color);
    text-transform: uppercase;
    font-size: 20px;

    padding: 5px 9.3em;
    border-radius: 1px;
    border-bottom: 2px solid var(--bg_color);
    
    transform: rotate(-90deg);
    margin-left: -11.2em;

    transition: margin-left 300ms ease-in-out 0s;
}
.card_wrapper .filmcard{
    position: relative;

    background-image: url('../imgs/img_1.jpg');
    opacity: 0%;
    background-size: cover;
    border-radius: 15px;

    left: 50px;

    height: 450px;
    width: 300px;

    transition: opacity 300ms ease 0.2s, transform 200ms ease 0.1s;
}
.card_wrapper:hover{
    transform: scale(1.02);
}
.card_wrapper:hover .filmcard{
    opacity: 50%;
    transform: scale(0.9);
}
.card_wrapper .filmcard:hover{
    opacity: 100%;
    transform: scale(0.85);
}
.card_wrapper:hover .hovertext{
    margin-left: -20em;
}
.card_wrapper:hover .slideout{
    margin-left: 25em;
}


