@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500 & display=swap');
*,
*::before,
*::after{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;

    --main_color: #07071E;
    --bg_color: #FCF7F1;
}


body{background-color: var(--bg_color);}
ul, li, a, h1 {
    color: var(--main_color);
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
}

/*Petite fenetre*/
@media (max-width: 949px){
    .navbar h1::before{
        content: 'jonathan.gnd';
        display: flex;
        font-size: 14px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }

    .nav_links li{
        display: inline-block;
        margin: 0px 2px;
        padding: 6px 5px;
        border-radius: 10px;
        border: 2px solid var(--bg_color);
    
        transition: border 300ms ease 0s;
    }
    .nav_links li:hover{
        border: 2px solid var(--main_color);
    }
    
    .nav_links li a{
        padding: 10px 10px;
        font-size: 12px;
    }
    
    .button_work{
        overflow: hidden;
        text-align: center;
        background-color: var(--main_color);
        border-radius: 10px;
    
        width: 100px;
        height: 40px;
    }
    
    .button_work a{
        color: var(--bg_color);
        display: grid;
        font-size: 12px;
        margin-top: 13px;
    
        transition: margin-top 300ms ease 0s;
    }
    .button_work a::after{
        content: 'MON TRAVAIL';
        margin-top: 25px;
        padding: 15px 10%;
    }
    .button_work:hover a{
        margin-top: -39px;
    }
    
}

/*Taille ecran standard ecran ordinateur*/
@media (min-width: 950px){
    .navbar h1::after{
        content: 'jonathan guinard';
        display: flex;
        font-size: 18px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 13em;
    }
    
    .nav_links li{
        display: inline-block;
        margin: 0px 10px;
        padding: 10px 5px;
        border-radius: 10px;
        border: 2px solid var(--bg_color);
    
        transition: border 300ms ease 0s;
    }
    .nav_links li:hover{
        border: 2px solid var(--main_color);
    }
    
    .nav_links li a{
        padding: 10px 10px;
        font-size: 13px;
    }
    
    .button_work{
        overflow: hidden;
        text-align: center;
        background-color: var(--main_color);
        border-radius: 10px;
    
        width: 130px;
        height: 45px;
    }
    
    .button_work a{
        color: var(--bg_color);
        display: grid;
        font-size: 13px;
        margin-top: 15px;
    
        transition: margin-top 300ms ease 0s;
    }
    .button_work a::after{
        content: 'MON TRAVAIL';
        margin-top: 25px;
        padding: 15px 10%;

        cursor: pointer;
    }
    .button_work:hover a{
        margin-top: -39px;
    }
    
}

