@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap');
*,
*::after,
*::before{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{background-color: #FFF0E1;}
li, a, h1, button{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: #141016;
}

header{
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 45px;
}

.nav_links li a{
    border: 2px solid #FFF0E1;
    border-radius: 10px;

    padding: 5px 15px;
    transition: all 300ms ease 0s;
}
.nav_links li a:hover{
    border: 2px solid #141016;
}

.sbh{
    background-color: #141016;
    border-radius: 15px;
    color: #FFF0E1;

    display: grid;
    align-items: center;
    text-align: center;
}
.sbh a{
    position: relative;
    color: #FFF0E1;

    padding: 10px 10px;
    top: 5px;
    display: grid;

    transition: margin-top 300ms ease 0s;
}
.sbh a:hover{
    margin-top: -50px;
}



/*.navbar span{
    position: absolute;
    align-self: center;
}
.navbar span a:not(#workmenulink){
    margin: 2em;
    padding: 0.5em;

    text-decoration: none;
    text-transform: uppercase;
    color: #141016;
    border: 2px solid #FFF0E1;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;

    transition: border 300ms ease-in-out, color 300ms ease-in-out;
}
.navbar span a:hover:not(#workmenulink){
    border: 2px solid #141016;
}


.workmenu{
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 120px;
    right: 50px;
    top: -10px;
    background-color: #141016;
    border-radius: 5px;

    text-align: center;
    cursor: pointer;
}
.workmenu::before{
    content: 'SURVOLE MOI';
    position: relative;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #FFF0E1;

    transition: top 500ms ease;
}
.workmenu #workmenulink{
    position: relative;
    top: 50px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF0E1;
    padding: 5px;

    transition: top 300ms ease;
}

.workmenu:hover::before{
    top: -20px;
}
.workmenu:hover #workmenulink{
    top: -8px;
}
.logo{
    position: relative;

    left: 50px;
    font-weight: 400;
    font-size: 25px;

    cursor: default;
    text-transform: uppercase;
}*/