@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap');
*,
*::after,
*::before{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{background-color: #FFF0E1;}

.navbar{
    position: static;
    display: flex;

    justify-content: space-between;
    padding: 0.8em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.navbar span{
    position: absolute;
    right: 50px;
}
.navbar span a:not(#workmenulink){
    margin: 2em;
    padding: 0.5em;

    text-decoration: none;
    text-transform: uppercase;
    color: #141016;
    border: 2px solid #FFF0E1;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;

    transition: border 300ms ease-in-out, color 300ms ease-in-out;
}
.navbar span a:hover:not(#workmenulink){
    border: 2px solid #141016;
}


.workmenu{
    overflow: hidden;
    position: absolute;
    height: 40px;
    width: 120px;
    right: 110%;
    top: -10px;
    background-color: #141016;
    border-radius: 5px;

    text-align: center;
    cursor: pointer;
}
.workmenu::before{
    content: 'SURVOLE MOI';
    position: relative;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #FFF0E1;

    transition: top 500ms ease;
}
.workmenu #workmenulink{
    position: relative;
    top: 50px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF0E1;
    padding: 5px;

    transition: top 300ms ease;
}

.workmenu:hover::before{
    top: -20px;
}
.workmenu:hover #workmenulink{
    top: -8px;
}
.logo{
    position: relative;

    left: 50px;
    font-weight: bold;
    font-size: 25px;

    cursor: default;
    text-transform: uppercase;
}