.pagecontent{
    background: white;
    position: absolute;
    left: 30%;

    border-radius: 30px;
    width: 35%;
    height: 900px;

    padding: 3em;
}
.pagecontent h1{
    color: #141016;
    text-transform: uppercase;
    font-size: 65px;
    opacity: 80%;
}

.welcomemenu{
    background-color: red;
    height: 50px;
    width: 50px;
}